<div class="student">
	<p>A quote to inspire the students, from <a href="https://www.goodreads.com/author/quotes/236437.Charles_T_Munger">Charlie Munger:</a></p>
	<blockquote>
		Spend each day trying to be a little wiser than you were when you woke up. Day by day, and at the end of the day-if you live long enough-like most people, you will get out of life what you deserve.
	</blockquote>
</div>