<!-- By convention, the name of the partial matches the model, with a prepended underscore -->

<div class="student">
	<p>
		<strong>Name:  </strong><%= link_to student.name, student_path(student) %>
		<%= link_to 'edit', edit_student_path(student) %>
	</p>
</div>